h1 {
    color: #343a40e7;
}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
}

.background-login {
    background-image: url(../../../assets/imagenes/messi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    width: 605px;
    background-color: #343a40;
}

.sidebar {
    width: 75%;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.formulario-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
}

.formulario input {
    padding: 10px;
    margin-top: 2em;
    border: none;
    border-bottom: 3px solid #343a40;
    background-color: transparent;
    font-size: 20px;
    color: #343a40;
    transition: 0.3s all ease-in-out;
}

.formulario input:focus {
    outline: none;
    border-bottom: 3px solid #757575;
}

.formulario button {
    margin-top: 2em;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #343a40;
    color: #eee;
    transition: 0.3s all ease-in-out;
}

.formulario button:hover {
    background-color: #343a40f0;
}

.is-invalid {
    border-bottom: 3px solid #dc3545 !important;
}

@media screen and (max-width: 920px) {
    .background-login {
        width: 0;
    }
    h1 {
        color: #eeeeeee3;
    }
    .formulario {
        color: #eeeeeee3;
    }
    .sidebar {
        width: 100%;
        background-image: url(../../../assets/imagenes/messi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    a {
        color: #eeeeeee3;
    }
    .formulario input {
        color: #eeeeeee3;
    }
    input::placeholder {
        color: #eeeeeee3;
    }
}