<div class="contenedor">
    <div class="background-login"></div>
    <div class="sidebar animate__animated animate__fadeIn fast">
        <div class="formulario-container text-center">
            <h1> Iniciar sesion </h1>
            <form class="formulario" [formGroup]='loginForm' (ngSubmit)='login()'>
                <input type="text" placeholder="Tu usuario..." [class.is-invalid]="UsuarioNoValido" formControlName="usuario">
                <span *ngIf="UsuarioNoValido" class="invalid-feedback">
                    Ingrese un nombre de cuenta.
                </span>
                <input type="password" placeholder="Tu clave..." [class.is-invalid]="PasswordNoValido" formControlName="password">
                <span *ngIf="PasswordNoValido" class="invalid-feedback">
                    Ingrese su contraseña.
                </span>
                <label class="cursor">
                    <input type="checkbox" name="Recordar sesion" formControlName="recordar" >
                    Recordar sesion
                </label>
                <button type="submit"> Iniciar sesion </button>
            </form>
            <a routerLink='/registro'>Si no estas registrado hacelo aqui!</a>
        </div>
    </div>

</div>