<div class="animate__animated animate__fadeIn fast">
    <app-titulos titulo='Busqueda general'></app-titulos>

    <div class="row">
        <div class="col-md">
            <app-sin-resultados mensaje='No se encontraron coincidencias en jugadores' *ngIf="jugadoresBuscados.length === 0 && !loading"></app-sin-resultados>
            <app-loading *ngIf="loading"></app-loading>

            <table class="table table-hover table-dark text-center table-responsive-md" *ngIf="jugadoresBuscados.length > 0">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jugador of jugadoresBuscados">
                        <td>{{jugador.nombre | titlecase}}</td>
                        <td>{{jugador.apellido | titlecase}}</td>
                        <td class="text-nowrap text-center w40">
                            <a [routerLink]="[ '/home/jugador', jugador.id ]" >
                                Detalle
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        
        <div class="col-md">
            <app-sin-resultados mensaje='No se encontraron coincidencias en equipos'  *ngIf="equiposBuscados.length === 0 && !loading" ></app-sin-resultados>
            <app-loading *ngIf="loading"></app-loading>

            <table class="table table-hover table-dark text-center table-responsive-md" *ngIf="equiposBuscados.length > 0">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equipo of equiposBuscados">
                        <td>{{equipo.nombre | titlecase }} </td>
                        <td class="text-nowrap text-center w40">
                            <a [routerLink]="[ '/home/equipo/lista-jugadores', equipo.nombre ]" >
                                Detalle
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>