<div class="animate__animated animate__fadeIn fast">
    <app-titulos titulo='Crear Equipo'></app-titulos>

    <form [formGroup]="equipoForm" (ngSubmit)="cargarDatos()" autocomplete="off" class="pl-5 pr-5">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': NombreNoValido}" placeholder="Nombre del equipo...">
                <span *ngIf="NombreNoValido" class="invalid-feedback">
                    El equipo debe tener un nombre.
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">Fecha de alta</label>
                <input type="date" class="form-control" placeholder="Ingrese la fecha de alta..." formControlName="fechaCreacion" [ngClass]="{'is-invalid': FechaNoValido }">
                <span *ngIf="FechaNoValido" class="invalid-feedback">
                    El equipo debe tener una fecha de creacion.
                </span>
            </div>

        </div>

        <div class="justify-content-md-around d-flex">
            <button type="submit" class="btn btn-dark">
                <i class="fa fa-users" aria-hidden="true"></i>
                Alta equpipo
            </button>
            <button type="button" class="btn btn-dark ml-2" (click)="limpiarForm()"> <i class="fa fa-trash" aria-hidden="true"></i> Limpiar formulario</button>
            <button type="button" class="btn btn-dark ml-2" [routerLink]="['/home/equipos']"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver </button>
        </div>
    </form>

</div>