<div class="contenedor ">
    <div class="background-login"></div>
    <div class="sidebar animate__animated animate__fadeIn fast">
        <div class="formulario-container text-center">
            <h1> Registrarse </h1>
            <form class="formulario" [formGroup]='registroForm' (ngSubmit)='registrar()'>
                <input type="text" placeholder="Tu email..." [class.is-invalid]="UsuarioNoValido" formControlName="usuario">
                <span *ngIf="UsuarioNoValido" class="invalid-feedback">
                    Ingrese un nombre de usuario.
                </span>
                <input type="password" placeholder="Tu clave..." [class.is-invalid]="PasswordNoValido" formControlName="password">
                <span *ngIf="PasswordNoValido" class="invalid-feedback">
                    Ingrese su clave.
                </span>
                <input type="password" placeholder="Repeti tu clave..." [class.is-invalid]="Password2NoValido" formControlName="password2">
                <span *ngIf="Password2NoValido" class="invalid-feedback">
                    La clave ingresada es incorrecta.
                </span>
                <label class="cursor">
                    <input type="checkbox" name="Recordar sesion" formControlName="recordar" >
                    Recordar sesion
                </label>
                <button type="submit"> Registrarse </button>
            </form>
            <a routerLink='/login'>Si ya tenes tu cuenta logeate aqui!</a>
        </div>
    </div>
</div>