<div class="animate__animated animate__fadeIn fast">
    <app-titulos titulo='Crear jugador'></app-titulos>

    <form [formGroup]="jugadorForm" (ngSubmit)="cargarDatos()" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': NombreNoValido}" placeholder="Nombre del jugador...">
                <span *ngIf="NombreNoValido" class="invalid-feedback">
                    El jugador debe tener un nombre.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido" [ngClass]="{'is-invalid': ApellidoNoValido}" placeholder="Apellido del jugador...">
                <span *ngIf="ApellidoNoValido" class="invalid-feedback">
                    El jugador debe tener un apellido.
                </span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Dorsal</label>
                <input type="number" class="form-control" formControlName="dorsal" [ngClass]="{'is-invalid': DorsalNoValido}" placeholder="Numbero de camiseta">
                <span *ngIf="DorsalNoValido" class="invalid-feedback">
                    El jugador debe poseer un dorsal.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Equipo</label>
                <select class="form-control" formControlName="equipo" [ngClass]="{'is-invalid': EquipoNoValido}">
                    <option value="" hidden selected> Seleccion un equipo </option>
                    <option *ngFor="let equipo of equiposDisponibles"> {{ equipo.nombre | titlecase}} </option>
                </select>
                <span *ngIf="EquipoNoValido" class="invalid-feedback">
                    El jugador debe pertenecer a un equipo.
                </span>
            </div>
        </div>

        <div class="form-group" [ngStyle]="{'display': tituloBoton=='Modificar' ? 'none' : 'block '}">
            <label for="inputAddress">Fecha de nacimiento</label>
            <input type="date" class="form-control" placeholder="Ingrese su cumpleaños..." formControlName="fecha" [ngClass]="{'is-invalid': FechaNoValido }">
            <span *ngIf="FechaNoValido" class="invalid-feedback">
                El jugador debe tener una fecha.
            </span>
        </div>

        <button type="submit" class="btn btn-dark">
            <i *ngIf="tituloBoton=='Crear'" class="fa fa-user-plus" aria-hidden="true"></i>
            <i *ngIf="tituloBoton=='Modificar'" class="fa fa-user" aria-hidden="true"></i>
            {{tituloBoton}} jugador
        </button>
        <button *ngIf="tituloBoton == 'Crear' " type="button" class="btn btn-dark ml-2" (click)="limpiarForm()"> <i class="fa fa-trash" aria-hidden="true"></i> Limpiar formulario</button>
        <button type="button" class="btn btn-dark ml-2" [routerLink]="['/home/jugadores']"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver sin cambios</button>
    </form>

</div>