/* Esconder flechas de input=number en Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Esconder flechas de input=number en Firefox */

input[type=number] {
    -moz-appearance: textfield;
}