<div class="animate__animated animate__fadeIn fast">
    <app-titulos titulo="Lista de equipos"></app-titulos>
    <button class="btn btn-outline-dark mb-4" [routerLink]="['/home/equipo']"> Alta de equipo </button>
    <app-sin-resultados mensaje='No hay equipos registrados aún.' *ngIf="listaEquipos.length === 0 && !loading"></app-sin-resultados>

    <app-loading *ngIf="loading" ></app-loading>

    <table class="table table-hover table-dark text-center table-responsive-md" *ngIf="listaEquipos.length > 0">
        <thead>
            <tr>
                <th scope="col">Posicion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Puntos</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Activo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipo of listaEquipos">
                <th>{{equipo.posicion}}</th>
                <td>{{equipo.nombre | titlecase}}</td>
                <td>{{equipo.puntos }}</td>
                <td>{{equipo.fechaCreacion }}</td>
                <td>
                    <span *ngIf="!equipo.actvo" class="badge badge-success">Activo</span>
                    <span *ngIf="equipo.actvo" class="badge badge-danger">Inactivo</span>
                </td>
                <td class="text-nowrap text-center w40">
                    <a class="cursor" (click)="borrarEquipo(equipo.id)"> <i class="fa fa-close text-danger "></i> </a>
                    <a class="cursor ml-1" [routerLink]="['/home/equipo/lista-jugadores', equipo.nombre]"> <i class="fa fa-users"></i> </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>