<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Torneo futbol <i class="fa fa-futbol-o"></i>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" [routerLinkActive]="['active-link']"
                    [routerLinkActiveOptions]="{ exact: true }">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="jugadores" [routerLinkActive]="['active-link']"
                    [routerLinkActiveOptions]="{ exact: true }">Jugadores<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="equipos" [routerLinkActive]="['active-link']"
                    [routerLinkActiveOptions]="{ exact: true }">Equipos <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="buscar(txtTermino.value)">
            <input class="form-control mr-sm-2" type="search" placeholder="Busqueda de jugador u equipo..."
                aria-label="Search" #txtTermino />
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i> Search
            </button>
        </form>
        <button class="btn btn-light ml-1" type="button" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </button>
    </div>
</nav>