/* Efecto Navbar */

.navbar-nav a {
    position: relative;
    display: block;
}

.navbar-nav a:hover {
    background: none;
}

.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fff, #fff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

.navbar-nav a:hover::before {
    transform: scaleX(1);
}

.navbar-nav::before {
    background: linear-gradient(to right, #fff, #fff);
}


/* Fin Navbar Menu */