<div class="animate__animated animate__fadeIn fast">
    <div class="container-md mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="display-4">Programacion Web!</h1>
            <p class="lead">Programacion Web dictada por Damian Rosso para ISTEA los miercoles de 19 a 22hs.</p>
            <hr class="my-4">
            <p>Proyecto de primer parcial - Primera entrega. <i class="fa fa-check" aria-hidden="true"></i> </p>
            <p>Proyecto de segundo parcial - Primer entrega. </p>
            <p>App para gestion de torneo de futboll</p>
        </div>
    </div>
</div>