<div class="error-box">
    <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">Page Not Found !</h3>
        <p class="m-t-30 m-b-30">
            Mejor volvamos al inicio, algo debio haber salido mal.
        </p>
        <a routerLink="/home" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back To Home!</a>
    </div>
</div>