
.error-box {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(../../assets/imagenes/orion-not-found.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.error-body {
    padding-top: 5%;
    margin-right: 60%;
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    line-height: 210px;
}