<div class="animate__animated animate__fadeIn fast">

  <app-titulos titulo="Lista de jugadores" [nombreEquipo]='team.nombre' *ngIf="hayEquipo"></app-titulos>
  <app-sin-resultados mensaje='No hay jugadores registrados aún para este equipo.' *ngIf="!hayEquipo"></app-sin-resultados>

  <div class="card-columns" *ngIf="hayEquipo && team.jugadores.length > 0">
    <div class="card" *ngFor="let jugador of team.jugadores">
      <div class="card-body">
        <h5 class="card-title"> {{jugador.nombre | titlecase }} {{ jugador.apellido | titlecase}} </h5>
        <p class="card-text">
          Dorsal: {{jugador.dorsal}}
        </p>
        <p class="card-text">
          Cantidad de Goles: {{jugador.cantGoles}}
        </p>
      </div>
      <div class="card-footer bg-transparent"> Fecha de nacimiento: {{jugador.fecha}} </div>
    </div>
  </div>
</div>
