body {
    background-color: #eee;
}

.w40 {
    width: 40px;
}

.w130 {
    width: 130px;
}

.w50p {
    width: 50%;
}

.cursor {
    cursor: pointer;
}

table {
    border-radius: 16px;
    border-top: solid;
}

.active-link {
    color: rgb(255, 3, 3);
}