<div class="animate__animated animate__fadeIn fast">
    <app-titulos titulo='Lista de jugadores'></app-titulos>
    <button class="btn btn-outline-dark mb-4" [routerLink]="['/home/jugador',0]"> Crear jugador </button>
    <app-sin-resultados mensaje='No hay jugadores registrados aún.' *ngIf="listaJugadores.length === 0 && !loading"></app-sin-resultados>
    <app-loading *ngIf="loading"></app-loading>

    <table class="table table-hover table-dark text-center table-responsive-md" *ngIf="listaJugadores.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dorsal</th>
                <th scope="col">Cant de goles</th>
                <th scope="col">Equipo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jugador of listaJugadores">
                <th>{{jugador.id}}</th>
                <td>{{jugador.nombre | titlecase}}</td>
                <td>{{jugador.apellido | titlecase}}</td>
                <td class="w40">{{jugador.dorsal}}</td>
                <td class="w130">{{jugador.goles}}</td>
                <td >{{jugador.equipo | titlecase }}</td>
                <td>{{jugador.fecha | date: 'shortDate'}}</td>
                <td class="text-nowrap text-center w40">
                    <a [routerLink]="['/home/jugador',jugador.id]" class="cursor" data-toggle="tooltip " data-original-title="Editar "> <i class="fa fa-pencil text-inverse m-r-10 "></i> </a>
                    <a class="cursor ml-1" (click)="modificarGoles(jugador, 'sumar')"> <i class="fa fa-plus text-success "></i> </a>
                    <a class="cursor ml-1" (click)="modificarGoles(jugador, 'restar')"> <i class="fa fa-minus text-success "></i> </a>
                    <a class="cursor ml-1" (click)="borrarJugador(jugador.id)"> <i class="fa fa-close text-danger "></i> </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>