<footer class="footer text-rigth bg-dark mt-5">
    <div class="container">
        <div class="copy">
            &copy; Futbol Tournament <i class="fa fa-futbol-o"></i> | {{ anio }}
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/juanmanuelbottarellifrei/" target="_blank" class="linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
            <a href="https://gitlab.com/juanmanuelfrei" target="_blank" class="gitlab"> <i class="fa fa-gitlab" aria-hidden="true"></i> </a>
        </div>
    </div>
</footer>