footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 15px
}

footer div {
    display: inline;
}

.copy {
    margin-left: 5em;
}

.social-media {
    float: right;
    margin-right: 5em;
}

.linkedin {
    margin-right: 15px;
}